extends ../layouts/default

block title
    | Design team 4 hire

block content
    section.l--pad-top-l.c--bg-black.hero
        .l--container
            .l--row
                .l--col-12
                    h1.t--size-l.c--white.t--weight-normal Design team 4 hire
    .l--container
        section.l--mar-top-l
            .l--row
                .l--col-12
                    p On July 6th, SoundCloud announced the layoffs of 173 of its employees. Among those laid off were all the product designers in the New York office.
                    p Though some of us had worked at SoundCloud for only a short time, we all felt that the team had amazing potential. In the coming months, as we look for new opportunities, we're all especially keen to continue working together.
            .l--row.l--mar-top-l
                .l--col-12
                    h2.t--weight-normal Want to hire a product design team?
            .l--row.l--mar-top-s.l--pad-btm-m
                .l--col-12
                    a.button Get in touch
        section.l--mar-top-l
            .l--row
                .l--col-12
                    h3 More about us
            .l--row
                .l--col-4.l--col-12-at-s.l--mar-btm-m
                    img.avatar(src="https://placehold.it/150").l--mar-btm-s
                    h4 Adelle Charles
                    p Proin lectus urna, tincidunt a tristique id, tincidunt id purus. Integer luctus suscipit nisi, at aliquam dui convallis sit amet. Proin viverra malesuada orci, non sodales metus mollis a. Vivamus aliquam at sem vestibulum facilisis. Suspendisse viverra congue odio sodales tincidunt.
                    a(href="#") LinkedIn
                    br
                    a(href="#") Twitter
                    br
                    a(href="#") Website
                .l--col-4.l--col-12-at-s.l--mar-btm-m
                    img.avatar(src="https://placehold.it/150").l--mar-btm-s
                    h4 Ashley Hopkins
                    p Proin lectus urna, tincidunt a tristique id, tincidunt id purus. Integer luctus suscipit nisi, at aliquam dui convallis sit amet. Proin viverra malesuada orci, non sodales metus mollis a. Vivamus aliquam at sem vestibulum facilisis. Suspendisse viverra congue odio sodales tincidunt.
                    a(href="#") LinkedIn
                    br
                    a(href="#") Twitter
                    br
                    a(href="#") Website
                .l--col-4.l--col-12-at-s.l--mar-btm-m
                    img.avatar(src="https://placehold.it/150").l--mar-btm-s
                    h4 Gabriel Topete
                    p Proin lectus urna, tincidunt a tristique id, tincidunt id purus. Integer luctus suscipit nisi, at aliquam dui convallis sit amet. Proin viverra malesuada orci, non sodales metus mollis a. Vivamus aliquam at sem vestibulum facilisis. Suspendisse viverra congue odio sodales tincidunt.
                    a(href="#") LinkedIn
                    br
                    a(href="#") Twitter
                    br
                    a(href="#") Website
                .l--col-4.l--col-12-at-s.l--mar-btm-m
                    img.avatar(src="https://placehold.it/150").l--mar-btm-s
                    h4 Hyun Kim
                    p Proin lectus urna, tincidunt a tristique id, tincidunt id purus. Integer luctus suscipit nisi, at aliquam dui convallis sit amet. Proin viverra malesuada orci, non sodales metus mollis a. Vivamus aliquam at sem vestibulum facilisis. Suspendisse viverra congue odio sodales tincidunt.
                    a(href="#") LinkedIn
                    br
                    a(href="#") Twitter
                    br
                    a(href="#") Website
                .l--col-4.l--col-12-at-s.l--mar-btm-m
                    img.avatar(src="https://placehold.it/150").l--mar-btm-s
                    h4 Matthew Ström
                    p Proin lectus urna, tincidunt a tristique id, tincidunt id purus. Integer luctus suscipit nisi, at aliquam dui convallis sit amet. Proin viverra malesuada orci, non sodales metus mollis a. Vivamus aliquam at sem vestibulum facilisis. Suspendisse viverra congue odio sodales tincidunt.
                    a(href="#") LinkedIn
                    br
                    a(href="#") Twitter
                    br
                    a(href="#") Website
                .l--col-4.l--col-12-at-s.l--mar-btm-m
                    img.avatar(src="https://placehold.it/150").l--mar-btm-s
                    h4 Samantha Law
                    p Proin lectus urna, tincidunt a tristique id, tincidunt id purus. Integer luctus suscipit nisi, at aliquam dui convallis sit amet. Proin viverra malesuada orci, non sodales metus mollis a. Vivamus aliquam at sem vestibulum facilisis. Suspendisse viverra congue odio sodales tincidunt.
                    a(href="#") LinkedIn
                    br
                    a(href="#") Twitter
                    br
                    a(href="#") Website
        section.l--mar-top-l
            .l--row
                .l--col-12
                    h3 FAQs
                    h4.l--mar-btm-s Why did SoundCloud fire you?
                    p.l--mar-btm-m That's a <strong>great</strong> question. You can read about the layoffs here:
                        br
                        a(href="https://techcrunch.com/2017/07/12/after-big-layoffs-soundcloud-founder-says-its-strategy-is-now-to-take-back-control") After big layoffs SoundCloud founder says its strategy is now to ‘take back control’ - TechCrunch
                        br
                        a(href="https://www.nytimes.com/2017/07/06/business/media/soundcloud-lays-off-173.html") SoundCloud, Which Rose to Stardom on Indie Talent, Lays Off 173 - New York Times
                        br
                        a(href="http://www.businessinsider.com/soundcloud-cuts-40-percent-of-its-staff-2017-7") SoundCloud will cut 40% of its staff, as it bleeds money and struggles to remain independent
                    h4.l--mar-btm-s What if I only want to hire one of you?
                    p.l--mar-btm-m Go for it!
                    h4.l--mar-btm-s Do you want to relocate?
                    p.l--mar-btm-m Probably not.
                    h4.l--mar-btm-s 
        section.l--mar-top-s
            .l--row
                hr
                .l--col-12.l--mar-top-s.l--pad-btm-m
                    small.c--gray This website was created independently from, and does not reflect the views or opinions of, SoundCloud Ltd. Don't sue us, please; we just want jobs.
            
            
        
    
